/* make site nav look better */

.site-nav {
  line-height: 1 !important;
}

.site-nav .page-link {
  display: inline-block;
  padding: 0.25rem 0.5rem;     // reduce vertical space between lines
  margin: 0.25rem;             // reduce horizontal wrap spacing
  line-height: 1.1 !important; // controls vertical line spacing
  text-decoration: none;
}

.site-nav .page-link:hover {
  background-color: #e0f5e0;  // soft light green
  border-radius: 8px;         // gently rounded corners
  transition: all 0.2s ease-in-out; // smooth in/out
}

/* add the green blog link */
.blog-link {
  margin-left: 1rem;
  font-size: 1.4rem; // slightly larger for emoji clarity
  font-weight: 500;
  text-decoration: none;
  color: #2ecc71; // emerald
  padding: 0.2em 0.5em;
  border-radius: 6px;
  line-height: 1;
  display: inline-block;
  transition: background 0.2s, transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active,
  &:focus {
    background: #d2f8df;
    outline: none;
  }

  &:visited {
    color: #2ecc71;
  }
}

/* this doesn't work b/c they aren't adding the class */
pre.fs-tree {
  background: #000;
  color: limegreen;
  font-family: monospace;
  font-size: 0.95em;
  line-height: 1.0;
  padding: 0.75em;
}

/* only show the giant bracket on desktop */

@media (max-width: 600px) {
  .nav-bracket {
    display: none;
  }
}

@media (min-width: 601px) {
  .nav-bracket img {
    display: inline;
  }
}