.site-nav {
  line-height: 1 !important;
}

.site-nav .page-link {
  display: inline-block;
  padding: 0.25rem 0.5rem;     // reduce vertical space between lines
  margin: 0.25rem;             // reduce horizontal wrap spacing
  line-height: 1.1 !important; // controls vertical line spacing
  text-decoration: none;
}

.site-nav .page-link:hover {
  background-color: #e0f5e0;  // soft light green
  border-radius: 8px;         // gently rounded corners
  transition: all 0.2s ease-in-out; // smooth in/out
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  position: relative;
}

.blog-center-link {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  position: absolute;
  left: 50%;
}
